body{
    margin:0;
    padding:0;
    
}
body::-webkit-scrollbar{
    width:0.25rem;
    height:0.25rem;
}
body::-webkit-scrollbar-track{
    background:grey;
}
body::-webkit-scrollbar-thumb{
    background:orange;
}
nav{
    background-color:#333232;
    height:3rem;
    width:208vh;
}

/* Style the links inside the navigation bar */
nav il {
 padding: 10px 20px;
 float:right;
 margin-left:0;
}
nav il:hover{
    background-color: 4A4949;
}
.fa-home{
    color:33FF74;
    font-size:25;
}
.fa-cog{
    color:33FF74;
    font-size:25;
}


.fa-dice-d20{
    color:33FF74;
    font-size:25;
}
.fa-gamepad{
    color:33FF74;
    font-size:25;
}
.fa-users{
    color:33FF74;
    font-size:25;
}
.fa-chevron-left{
    position: absolute;
    margin-top:235;
    font-size:60;
    margin-left:100;
}
.fa-chevron-right{
    position: absolute;
    margin-top:235;
    font-size:60;
    margin-left:1240;
}


/* Change the color of links on hover */

.tope{
    position:absolute;
    color:aliceblue;
    padding-left:70;
    font-size:30;
    margin-top:10;
}
.stimg{
    margin-top:0;
    padding:0;
    opacity: 100%;
    box-shadow:10px 10px 15px;
}
.titl{
    margin-left:200;
    margin-right:200;
    font-size:45;
    font-family:sans-serif;
}
.des{
    margin-left:200;
    margin-right:200;
    font-size:25;
    font-family:sans-serif;
}
.subdes{
    margin-left:200;
    margin-right: 200;
    font-size:35;
    font-family:sans-serif;
}
.im2{
    margin-left:400;
}
.im3{
   margin-left:250; 
}
.clop{
    position:absolute;
    padding-left:10;
}
.footer{
    background-color:antiquewhite;
}
.footer-des{
    text-align: center;
    font-family: Lato; 
    padding-left: 400;
    padding-right: 400;
    font-size:25;
}
.footer-e{
    text-align: center;
    font-family: Lato; 
    font-size:30;
}
.footer-des{
    text-align: center;
    font-family: Lato;    
}
.footer-logo{
    padding-left:600;
}
.footer-end{
    text-align: center;
    font-family: Lato;
    font-size:25;
}
.googleads{
    box-shadow:10px 10px 20px;
    height:600;
    text-align: center;
    font-family:Lato;
    font-size:100;
}